<%- include('partials/header') %>
    <div>
        <div>
            <form action="/artist-search" , method="GET">
                <input placeholder="Search for an artist!" type="text" name="mySearch">
                <button type="submit" value="Send">Search for an Artist</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %>